PORT=3000
ENVIRONMENT=development #development or production

# Database (Postgres)
POSTGRES_HOST=localhost
POSTGRES_USER=postgres
POSTGRES_PWD=14527
DB_NAME=learning_ecommarce
POSTGRES_PORT=5432

#JWT
JWT_SECRET="vgj(|gM@qsR(^BLX>B+sl:oE/O,iE]6gGw4sSrUEd.}"
JWT_EXPIRE=30 #Day
JWT_REFRESH_SECRET="vgj(|gM@qsR(^BLX>B+sl:oE/O,iE]6^%*SrUEd.}"
JWT_REFRESH_EXPIRE=90 #Day